{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/black-bg.webp')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Admin Panel, Welcome {{ current_user.first_name }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h1>All Users</h1>
      {% for user in users %}
      <div class="post-preview">
        <p>User: {{ user.id }}</p>
        <a href="{{ url_for('edit_user', user_id=user.id) }}">
          <h3 class="post-subtitle">{{ user.email }}</h3>
          <h3 class="post-subtitle">{{ user.first_name }}</h3>
            <h3 class="post-subtitle">{{ user.last_name }}</h3>
        </a>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

{% include "footer.html" %}